* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  /* Add Appropriate font family */
}
button {
  border: none;
}
a {
  text-decoration: none;
}

.container {
  background-color: rgba(255, 119, 255, 0.195);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote {
  width: 80%;
  margin: 2rem;
  background-color: #f77;
  border-radius: 1rem;
  box-shadow: 0 3px 3px rgba(247, 168, 168, 0.473);
  padding: 2rem 2rem;
}
.quote__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.quote__logo {
  width: 10rem;
  height: 5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote__logo img {
  max-width: 100%;
  width: 5rem;
  height: 5rem;
}
.quote__side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}
.quote__btn {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: green;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}
.quote__btn:hover {
  transform: scale(1.03);
}
.quote__btn:active {
  transform: scale(0.95);
}
.save__quote {
  padding: 2rem;
  transition: all 0.4s;
  border-radius: 0.2rem;
  position: relative;
  cursor: pointer;
}
.save__quote:hover {
  background-color: gray;
}
.saved__quote {
  position: absolute;
  display: none;
  background-color: aqua;
  width: 15rem;
  left: -5rem;
  top: 5.2rem;
}
.save__quote:hover .saved__quote {
  display: block;
}
.saved__quote--item {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.quote__item--saved {
  padding: 1px;
  transition: all 0.3s;
}
.quote__item--saved:hover {
  background-color: gray;
}
.quote__item--title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.quote__saved--author {
  font-size: 1.6rem;
  float: right;
  position: relative;
}
.quote__saved--author::before {
  content: "";
  width: 2rem;
  height: 0.2rem;
  background-color: green;
  position: absolute;
  top: 0;
  left: -3rem;
  bottom: 0;
  margin: auto;
}
.quote__main {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 30rem 1fr;
  gap: 2rem;
}
.quote__display {
  background-color: #f38e82;
  border-radius: 0.5rem;
}
.quote__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.quote__item {
  padding: 1rem 0;
  /* padding-left: 2rem; */
  transition: all 0.3s;
  position: relative;
}
.quote__item::before {
  content: "";
  width: 1rem;
  height: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  background-color: forestgreen;
}
.quote__item:hover {
  background-color: rgba(47, 185, 5, 0.705);
}
.quote__display--title {
  font-size: 1.8rem;
  padding-left: 2rem;
}
.quote__item--author {
  font-size: 1.6rem;
  float: right;
  position: relative;
  padding-right: 1rem;
  color: #333;
}
.quote__item--author::after {
  content: "";
  width: 2rem;
  height: 0.2rem;
  background-color: green;
  position: absolute;
  top: 0;
  left: -3rem;
  bottom: 0;
  margin: auto;
}
.pagination {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.pagination__btn {
  margin-top: 3rem;
  padding: 0.3rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: red;
}
.pagination__btn span {
  font-size: 2.5rem;
}
.pagination__icon {
  font-size: 2.5rem;
}
.quote__results {
  padding: 2rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
.quote__card {
  width: 60%;
  background-color: rgba(240, 248, 255, 0.986);
  box-shadow: 10px 10px 3px rgba(255, 119, 119, 0.404);
  padding: 2rem 2rem;
  border-radius: 1rem;
  transform: scale(1.03);
}
.quote__data {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* display: none; */
}
.error__message {
  display: flex;
  font-size: 1.8rem;
  padding: 4rem 1rem;
  font-weight: 500;
}
.quote__message {
  background-color: rgba(255, 119, 119, 0.675);
  padding: 2rem 1rem;
  font-size: 2.5rem;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  position: relative;
}
.quote__message::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: green;
  top: 0;
  left: 0;
  border-radius: 1rem;
}
.quote__author {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.quote__author--info {
  font-weight: 800;
  font-size: 2rem;
}
.quote__author--name {
  font-size: 1.8rem;
  font-weight: 500;
}
.quote__page {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.quote__page span {
  font-size: 2rem;
  font-weight: 800;
}
.number__page {
  font-size: 2rem;
  font-weight: 500;
}
.quote__reaction {
  margin-top: 1rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid rgb(136, 133, 133);
}
.quote__like {
  /* background-color: red; */
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.3rem;
}
.quote__like:hover {
  background-color: rgba(255, 119, 119, 0.449);
}
.like__icon {
  font-size: 2.5rem;
  color: red;
}
.quote__save {
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.3rem;
}
.quote__save:hover {
  background-color: rgba(0, 128, 0, 0.394);
}
.save__icon {
  color: rgba(0, 128, 0, 0.692);
  font-size: 2.5rem;
}
.footer {
  margin-top: 3rem;
  padding: 2rem;
  text-align: center;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.589);
}
.spinner {
  padding: 10rem 0rem;
  margin: 5rem auto;
  text-align: center;
}
.spinner svg {
  height: 6rem;
  width: 6rem;
  /* fill: #f38e82; */
  fill: black;

  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
